<!-- <p>employee-details works!</p> -->

<div>
    <hr style="width:100%;margin-left:0;margin-top:4rem">
    <h3 class="text-center font-weight-bold my-4">Add Details</h3>    
    <hr style="width:100%;margin-left:0">
</div>

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <form  [formGroup]="employeeForm">
          <div class=" row">
            <div class="form-group row  mr-5">
              <label for="staticEmail2" class="col-form-label">Employee_ID: </label>
              <div class="col-8">
                  <input type="text" class="form-control" id="staticEmail2" disabled [value]="projectID">
              </div>
            </div> 

            <div class="form-group row ">
              <label for="staticEmail2" class="col-form-label">Name: <span style="color: red;">*</span></label>
              <div class="col-8">
                  <input type="text" class="form-control" id="staticEmail2" formControlName="Name">
                  <span style="color:red"   *ngIf="submitForm && employeeForm.get('Name').invalid"> required field</span>
              </div>
            </div>
          </div>

          <div class=" row ">
            <div class="form-group row  mr-5">
              <label for="inputPassword2" class="col-form-label">Personal Email: <span style="color: red;">*</span></label>
              <div class="col-8">
                <input type="text" class="form-control" id="inputPassword2" formControlName="Email">
                <span style="color:red"   *ngIf="submitForm && employeeForm.get('Email').invalid"> required field</span>
              </div>
            </div> 

            <div class="form-group row ">
              <label for="staticEmail2" class="col-form-label">Location: <span style="color: red;">*</span></label>
              <div class="col-8">
                  <input type="text" class="form-control" id="staticEmail3" formControlName="Location">
                  <span style="color:red"   *ngIf="submitForm && employeeForm.get('Location').invalid"> required field</span>
              </div>
            </div>
          </div>

          <div class=" row">
            <div class="form-group row  mr-5">
              <label for="staticEmail2" class="col-form-label">Phone No: <span style="color: red;">*</span></label>
              <div class="col-8">
                  <input type="number" class="form-control" id="staticEmail4" formControlName="PhoneNumber" maxlength="10">
                  <span style="color:red"   *ngIf="submitForm && employeeForm.get('PhoneNumber').invalid"> required field</span>
              </div>
            </div>

          <div class="form-group row  ">
            <label for="staticEmail2" class="col-form-label">Vendor: <span style="color: red;">*</span></label>
            <div class="col-8">
              <input type="text" class="form-control" id="staticEmail5" formControlName="Vendor">
              <span style="color:red"   *ngIf="submitForm && employeeForm.get('Vendor').invalid"> required field</span>
            </div>
          </div>
          </div>
              
          <div class=" row"> 
            <div class="form-group row  mr-5">
              <label for="inputPassword2" class="col-form-label">Job_Type: <span style="color: red;">*</span></label>
              <div class="col-8">
                <input type="text" class="form-control" id="inputPassword2" formControlName="Type">
                <span style="color:red"   *ngIf="submitForm && employeeForm.get('Type').invalid"> required field</span>
              </div>
            </div>

            <div class="form-group row ">
                <label for="inputPassword2" class="col-form-label">ID_Card: <span style="color:red">*</span></label>
                <div class="col-8">
                  <input type="text" class="form-control" id="inputPassword2" formControlName="IDCard">
                  <span style="color:red"   *ngIf="submitForm && employeeForm.get('IDCard').invalid"> required field</span>
                </div>
              </div>
          </div>
          </form>
    </div>
    <div class="text-center">
      <div class="small">
        <button type="submit" class="btn btn-primary mb-2" (click)="SubmitForm()" *ngIf="action === 'add'">Submit</button>
        <button type="submit" class="btn btn-primary mb-2" (click)="SubmitForm()" [disabled]="action === 'view'"
        *ngIf="((action === 'edit' && currentRole !== 'Manager') || (action === 'view' && currentRole !== 'Manager'))">
          update
        </button>
        <button type="submit" class="btn btn-success mb-2" (click)="getApproved()" [disabled]="action === 'view'"
        *ngIf="((action === 'edit' && currentRole === 'Manager') || (action === 'view' && currentRole === 'Manager'))">
          Approve
        </button> &nbsp;&nbsp;
        <button type="submit" class="btn btn-danger mb-2" (click)="getReject()" [disabled]="action === 'view'"
        *ngIf="((action === 'edit' && currentRole === 'Manager') || (action === 'view' && currentRole === 'Manager'))">
          Reject
        </button>  
      </div>
  </div>
</div>


