<div>

<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg " style="margin-top: 4rem;">
                <div class="card-header">
                    <h3 class="text-center font-weight-bold my-4">Login</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label class="small mb-1" for="inputEmailAddress" >Email</label>
                            <input class="form-control py-4" id="inputEmailAddress" type="email" [(ngModel)]="UserName" name="inputUserName" placeholder="Enter email address" />
                        </div>
                        <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label>
                            <input class="form-control py-4" id="inputPassword" type="password"  [(ngModel)]="Password" name="inputPassword" placeholder="Enter password" />
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="btn btn-primary" type="submit" (click)="loginFunction()">Login</a>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <div class="small"><a [routerLink]="['signup']">Need an account? Sign up!</a></div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
